---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/img/logo.png';
---

<Layout title="Gamberini | Diseño y montaje">
	<main>
        <div class="main-container">
            <div class="title">
                <h1>
                    <a class="logo-title" href="index.html">
                        <Image src={logo} alt="Logo Gamberini" />
                    </a>
                </h1>
            </div>
            <div class="title-divider"></div>
            <h2>Diseño y montaje</h2>
        </div>
    </main>
</Layout>