---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import diseñoMontajeImg from '../assets/hero/diseño-montaje.webp';
---

<Layout title="Gamberini | Diseño y montaje">
	<main>
        <Hero title='Diseño y montaje' description='Diseño y montaje de sistemas de bombeo, adaptados a las necesidades de cada proyecto.' image={diseñoMontajeImg}/>
    </main>
</Layout>