---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="Gamberini | Diseño y montaje">
	<main>
        <!-- <Title pageTitle="Diseño y montaje" /> -->
        <Hero />
    </main>
</Layout>