---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import HomeSections from '../components/HomeSections.astro';
---

<Layout title="Gamberini | Inicio">
	<main>
        <Banner />
        <HomeSections />
    </main>
</Layout>