---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Gamberini | Inicio">
	<main>
        <Title pageTitle="Inicio" />
        <Banner />
    </main>
</Layout>