---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
---

<Layout title="Gamberini | Servicio tecnico">
	<main>
        <Title pageTitle="Servicio técnico" />
    </main>
</Layout>