---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/img/logo.png';
import bomba1 from '../assets/img/bomba1.png';
---

<Layout title="Gamberini | Sistema de protección contra incendios">
	<main>
        <div class="main-container">
            <div class="title">
                <h1>
                    <a class="logo-title" href="index.html">
                        <Image src={logo} alt="Logo Gamberini" />
                    </a>
                </h1>
            </div>
            <div class="title-divider"></div>
            <h2>Sistemas de protección contra incendio</h2>
        </div>
        <div class="cards">
            <Image src={bomba1} alt="Bomba 1" />
            <p>Con más de 15 años en el mercado, realizamos proyectos integrales de <span>sistemas de deteccion temprana y sistemas fijos</span> en base a agua, los cuales comprenden diseño y dimensionamiento personalizado para cada aplicación, montaje de instalaciones, start up y mantenimiento periódico bajo estrictas <span>normas internacionales.</span></p>
        </div>
        <div class="cards">
            <p>Los <span>sistemas de detección temprana</span> utilizados para identificar a tiempo el inicio de incendios, permiten una respuesta rápida que puede salvar vidas y minimizar daños a sus instalaciones. Una detección oportuna marca la diferencia.</span></p>
            <Image src={bomba1} alt="Bomba 2" />
        </div>
        <div class="cards">
            <Image src={bomba1} alt="Bomba 3" />
            <p>Para el conformado de nuestras redes de incendio, utilizamos cañería con extremos ranurados. Esto garantiza ensamblajes en tiempos más cortos, lo cual reduce de manera significativa la duracion de nuestras obras</p>
        </div>
    </main>
</Layout>