---
import { Image } from 'astro:assets';
import logofull from '../assets/img/logoblanco.png';
import logoicon from '/public/img/faviconblanco.png';
---

<header>
    <div class="top-bar">
        <div class="header-logo">
            <a href="/GAMBERINI.astro/">
                <Image src={logofull} alt="Logo blanco Gamberini" class="logo-full" loading="eager" />
                <Image src={logoicon} alt="Icono Gamberini" class="logo-icon" loading="eager" />
            </a>
        </div>
        
        <nav class="top-nav">
            <ul>
                <li>
                    <a href="/GAMBERINI.astro/contacto"><i class="fas fa-phone"></i><span class="text">Contacto</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="divider-horizontal"></div>

    <nav class="services-nav">
        <ul>
            <li>
                <a href="/GAMBERINI.astro/sistema-de-protección-contra-incendios"><i class="fas fa-fire-extinguisher"></i><span class="text">Sistema de protección contra incendios</span></a>
            </li>
            <li>
                <a href="/GAMBERINI.astro/diseño-y-montaje"><i class="fas fa-drafting-compass"></i><span class="text">Diseño y montaje</span></a>
            </li>
            <li>
                <a href="/GAMBERINI.astro/servicio-tecnico"><i class="fas fa-tools"></i><span class="text">Servicio técnico</span></a>
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
header {
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #29166f 20%, #3a2a8f 45%, #5145b6 75%);
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 128px;
    padding: 0 20px;
}

.divider-horizontal {
    width: 100%;
    max-width: 1200px;
    height: 1px;
    background: #a793e7;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
}

.header-logo {
    height: 26px;
}

.header-logo img {
    height: 100%;
    width: auto;
}

.logo-icon{
    display: none;
}

.top-nav ul, .services-nav ul {
    list-style: none;
    display: flex;
    gap: inherit;
}

.top-nav {
    display: flex;
    gap: 24px;
}

.top-nav a {
    color: #f1f1f1;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.top-nav a:hover {
    color: #a793e7;
}

.top-nav i {
    font-size: 16px;
}

.services-nav {
    display: flex;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
}

.services-nav a {
    color: #f1f1f1;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    margin: 20px 0;    
}

.services-nav a:hover {
    color: #a793e7;
}

.services-nav i {
    font-size: 16px;
}

@media (max-width: 736px) {
    .text {
        display: none;
    }

    .dropdown-content a .text {
        display: none;
    }
}

@media (max-width: 360px) {
    .header-logo, .logo-icon {
        display: none;
    }
}
</style>