---
import { Image } from 'astro:assets';
import logo from '../assets/img/logo.png';

const { pageTitle } = Astro.props;
---

<div class="main-container">
    <div class="title">
        <h1>
            <a class="logo-title" href="/GAMBERINI.astro/">
                <Image src={logo} alt="Logo Gamberini" />
            </a>
        </h1>
    </div>
    <div class="title-divider"></div>
    <h2>{pageTitle}</h2>
</div>

<style>
.main-container {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(0, 1200px) minmax(20px, 1fr);
    margin: 0 auto;
}

.main-container > * {
    grid-column: 2;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 2rem auto;
}

.logo-title {
    width: 100%;
}

.logo-title img {
    width: 100%;
    max-width: 520px;
    min-width: 265.7px;
    height: auto;
}

.title-divider {
    height: 1px;
    background-color: #29166f;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: clamp(18px, 2vw, 24px);
    font-weight: 300;
    color: #232323;
    letter-spacing: 1px;
}
</style>